Aca se dejara la sintaxis para poner en la terminal 

Buenas Practicas de commit
https://www.conventionalcommits.org/en/v1.0.0/

---
Capas del Tiled Map Editor
Capa de patrones #es la estetica del suelo y paredes
Capa de colisiones #es la capa invisible que delimita donde puede caminar el jugador
NPC #es la capa donde van los NPCs
---

NPCs Ids
random:
Sprite_id= randomNPC_test
dialog_id= dialogo_NPC_test
npc_id = 1
